#root {
  margin: 0 auto;
  text-align: center;
}

body {
  --navbar-shift: 5rem;
  --footer-shift: 5rem;
  height: 100%;
}

.page-container {
  position: relative;
  margin-top: var(--navbar-shift);
  min-height: calc(100vh - var(--navbar-shift));
  padding: 10px;
  padding-top: 30px;
}
